.interlocutor{
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 75px;
    border:1px solid rgba(49, 47, 56, 0.699);
    text-decoration: none;
}

.interlocutor img {
    width: 75px;
    height: 75px;
 }

.interlocutor:hover{
        background-color: rgba(139, 143, 151, 0.50); 
}
.name{
    font-size: 20px;
    color:rgba(139, 125, 43, 0.829);
    padding-top: 20px;
    text-align: center;
    font-style: 'Righteous', cursive;
    
}